<a href="https://colab.research.google.com/github/mzakibhr/Fuzzy_Logic/blob/main/FuzzyLogic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_restoran = pd.read_excel('restoran.xlsx')

In [ ]:
# Pelayanan (1-100)
# Pelayanan Kecil (Trapesium), Batasbawah = 20, Batasatas = 50
# Pelayan Sedang (Segitiga), Batasbawah = 40, Batastengah = 65, Batasatas = 90
# Pelayanan Besar (Trapesium), Batasbawah = 80, Batasatas = 100
def pelayanan(x):
    hasilPelayanan = []
    if ((x >= 0) and (x <= 50)):
        hasilPelayanan.append(pelayanan_small(x))
    if ((x >= 40) and (x <= 90)):
        hasilPelayanan.append(pelayanan_medium(x))
    if ((x >= 80) and (x <= 100)):
        hasilPelayanan.append(pelayanan_high(x))
    return hasilPelayanan

In [ ]:
def pelayanan_small(x):
    if (x <= 20):
        return 'low', 1
    elif (x <= 50  and x > 20):
        count = (50 - x) / (50 - 20)
        return 'low', count

In [ ]:
def pelayanan_medium(x):
    if (x >= 40 and x <= 65):
        count = (x - 40) / (65 - 40)
        return 'medium', count
    elif (x > 65 and x <= 90):
        count = (90 - x) / (90 - 65)
        return 'medium', count

In [ ]:
def pelayanan_high(x):
    if (x >= 80 and x <= 100):
        count = (x - 80) / (100 - 80)
        return 'high', count
    elif (x > 100):
        return 'high', 1

In [ ]:
# Makanan (1-10)
# Makanan Kecil (Trapesium), Batasbawah = 3, Batasatas = 5
# Makanan Sedang (Segitiga), Batasbawah = 4, Batassedang = 6.5, Batasatas = 9
# Makanan Besar (Trapesium), Batasbawah = 8, Batasatas = 10

def makanan(x):
    hasilMakanan = []
    if ((x>=0) and (x<=5)) :
        hasilMakanan.append(makanan_low(x))
    if ((x>=4) and (x<=9)) :
        hasilMakanan.append(makanan_medium(x))
    if (x>=8) :
        hasilMakanan.append(makanan_high(x))
    return hasilMakanan

In [ ]:
def makanan_low(x):
    if (x <= 3.0):
        return 'low', 1
    elif (x <= 5.0 and x > 3.0):
        count = (5.0 - x) / (5.0 - 3.0)
        return 'low', count

In [ ]:
def makanan_medium(x):
    if (x <= 6.5 and x >= 4.0):
        count = (x - 4.0) / (6.5 - 4.0)
        return 'medium', count
    elif (x <= 9.0 and x > 6.5):
        count = (9.0 - x) / (9.0 - 6.5)
        return 'medium', count

In [ ]:
def makanan_high(x):
    if (x < 10.0 and x >= 8.0):
        count = (x - 8.0) / (10 - 8.0)
        return 'high', count
    elif (x >= 10):
        return 'high', 1

In [ ]:
# RULE
#  pel\mak           low	 medium	   high	
#  low				        N		   L		    M		 
#  medium			        L	     M		    H		 
#  high				        L		   M		    H	
def inference(pelayanan, makanan):
    if (pelayanan=='low' and makanan=='low') :
        return 'N'
    if (pelayanan=='low' and makanan=='medium') :
        return 'L'
    if (pelayanan=='low' and makanan=='high') :
        return 'M'
    if (pelayanan=='medium' and makanan=='low') :
        return 'L'
    if (pelayanan=='medium' and makanan=='medium') :
        return 'M'
    if (pelayanan=='medium' and makanan=='high') :
        return 'H'
    if (pelayanan=='high' and makanan=='low') :
        return 'L'
    if (pelayanan=='high' and makanan=='medium') :
        return 'M'
    if (pelayanan=='high' and makanan=='high') :
        return 'H'

In [ ]:
def nilaiInference(Pelayanan, Makanan):
    maksN = 0.0
    maksL = 0.0
    maksM = 0.0
    maksH = 0.0
    for i in pelayanan(Pelayanan):
        for j in makanan(Makanan):
            if (inference(i[0],j[0])=='N') :
                if (maksN < min(i[1],j[1])) :
                    maksN = min(i[1],j[1])
            if (inference(i[0],j[0])=='L') :
                if (maksL < min(i[1],j[1])) :
                    maksL = min(i[1],j[1])
            if (inference(i[0],j[0])=='M') :
                if (maksM < min(i[1],j[1])) :
                    maksM = min(i[1],j[1])
            if (inference(i[0],j[0])=='H') :
                if (maksH < min(i[1],j[1])) :
                    maksH = min(i[1],j[1])
    return ('N', maksN) , ('L', maksL), ('M', maksM) , ('H', maksH)

In [ ]:
# Batas No = 20
# Batas Low = 35
# Batas Medium = 70
# Batas High = 100
def defuzzyfication(a, b, c, d):
    count = (a*20) + (b*35) + (c*70) + (d*100) / (a+b+c+d)
    return count

In [ ]:
hasil = []
for i in df_restoran.iterrows():
    NilaiPelayanan = i[1].loc['pelayanan']
    NilaiMakanan = i[1].loc['makanan']
    arr_deffuzy = nilaiInference(NilaiPelayanan, NilaiMakanan)
    hasil.append(defuzzyfication(arr_deffuzy[0][1],arr_deffuzy[1][1],arr_deffuzy[2][1],arr_deffuzy[3][1]))

In [ ]:
best = sorted(zip(df_restoran.id,hasil), key=lambda x:x[1], reverse=True)
print(best)

[(6, 100.0), (22, 100.0), (24, 100.0), (25, 100.0), (31, 100.0), (42, 100.0), (54, 100.0), (69, 100.0), (79, 100.0), (20, 93.85875706214689), (51, 87.42528735632185), (77, 70.0), (81, 70.0), (73, 65.33333333333333), (98, 53.66666666666667), (1, 50.4), (8, 46.666666666666664), (18, 35.0), (66, 35.0), (88, 35.0), (39, 33.6), (63, 33.6), (10, 32.666666666666664), (44, 32.2), (3, 31.5), (91, 31.5), (60, 30.8), (75, 29.4), (7, 28.0), (15, 28.0), (17, 28.0), (27, 28.0), (30, 28.0), (40, 28.0), (53, 28.0), (55, 28.0), (68, 28.0), (70, 28.0), (72, 28.0), (83, 28.0), (95, 28.0), (99, 28.0), (80, 25.666666666666664), (52, 24.5), (16, 22.400000000000002), (62, 22.166666666666664), (36, 21.0), (26, 20.0), (35, 20.0), (38, 20.0), (49, 20.0), (78, 20.0), (84, 20.0), (90, 20.0), (94, 20.0), (76, 19.833333333333332), (2, 19.6), (47, 19.333333333333332), (34, 17.5), (48, 17.5), (74, 17.5), (87, 17.5), (57, 17.333333333333336), (4, 16.8), (97, 16.666666666666668), (50, 14.933333333333334), (11, 14.0), (12, 14.0), (13, 14.0), (14, 14.0), (29, 14.0), (33, 14.0), (45, 14.0), (65, 14.0), (86, 14.0), (100, 14.0), (96, 13.333333333333332), (56, 13.266666666666666), (58, 12.666666666666666), (21, 12.533333333333335), (89, 12.533333333333335), (93, 11.666666666666666), (41, 11.333333333333332), (43, 10.666666666666666), (9, 10.333333333333332), (5, 10.0), (23, 10.0), (37, 10.0), (59, 10.0), (64, 10.0), (67, 10.0), (82, 10.0), (85, 10.0), (92, 9.8), (28, 9.600000000000001), (19, 8.133333333333333), (32, 8.133333333333333), (61, 8.133333333333333), (46, 8.0), (71, 7.333333333333333)]

In [ ]:
bestRestoran = []
for i in range(10):
     bestRestoran.append(best[i])
print(bestRestoran)

pd.DataFrame(bestRestoran).to_excel('peringkat.xls', header=False, index=False)

[(6, 100.0), (22, 100.0), (24, 100.0), (25, 100.0), (31, 100.0), (42, 100.0), (54, 100.0), (69, 100.0), (79, 100.0), (20, 93.85875706214689)]